* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: url("https://i.pinimg.com/originals/5d/86/c9/5d86c9c170bb74113315cb88aad15e2b.jpg");
    background-size: cover;
    color:antiquewhite;
    font-size: 20px;
}

.wrap{
    width: 100%;
    max-width: 1000px;
    margin:auto;
}

.widget{
    width: 50%;
    margin: 2em; 
}
.widget p {
    display: inline-block;
    line-height: 1em;
}

.fecha{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}

.reloj {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.reloj .cajasegundos {
    display: inline-block;
}

.reloj .segundos, .reloj .ampm {
    font-size: 2em;
    display: block;
}


